<center>

<h3>Welcome </h3>

<h3>You Want to be a Developer?</h3>
<h3>Sign up to Learn Rapid development</h3>
<br><br><br><br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<%= User.count %> (Rigistered Users)</p>
