<center>

<h1>Welcome </h1>

<h3>Do You Want to be a Developer?</h3>
<h3>Then Sign up to Learn Rapid development</h3>
<br><br><br><br>

    

    
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                       <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>


<img src="vs.jpg" ALIGN=bottom alt="Mountain View" style="width:180px;height:100px;">


                        <h3>Visual Studio</h3>
                        <p class="text-muted">Microsoft Visual Studio is an integrated development environment (IDE) from Microsoft. It is used to develop computer programs for Microsoft Windows, as well as web sites, web applications and web services. Visual Studio uses Microsoft software development platforms such as Windows API, Windows Forms, Windows Presentation Foundation, Windows Store and Microsoft Silverlight. It can produce both native code and managed code.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-left">

                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>


<img src="android.jpg" alt="Mountain View" style="width:180px;height:100px;">


                        <h3>Android Studio</h3>
                        <p class="text-muted">Android Studio is an integrated development environment (IDE) for developing for the Android platform. It was announced on May 16, 2013 at the Google I/O conference by Google's Product Manager, Katherine Chou. Android Studio is freely available under the Apache License 2.0.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>


<img src="rails.jpg" alt="Mountain View" style="width:180px;height:100px;">


                        <h3>Ruby on Rails</h3>
                        <p class="text-muted">Ruby on Rails, or simply Rails, is a web application framework written in Ruby under MIT License. Rails is a model–view–controller (MVC) framework, providing default structures for a database, a web service, and web pages. It encourages and facilitates the use of web standards such as JSON or XML for data transfer, and HTML, CSS and JavaScript for display and user interfacing. In addition to MVC, Rails emphasizes the use of other well-known software engineering patterns and paradigms, including convention over configuration (CoC), don't repeat yourself (DRY), and the active record pattern.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-left">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>


<img src="PHP.jpg" alt="Mountain View" style="width:180px;height:100px;">

                        <h3>PHP</h3>
                        <p class="text-muted">PHP is a server-side scripting language designed for web development but also used as a general-purpose programming language. As of January 2013, PHP was installed on more than 240 million websites (39% of those sampled) and 2.1 million web servers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

