<center>

<h1>Welcome </h1>

<h3>Do You Want to be a Developer?</h3>
<h3>Then Sign up to Learn Rapid development</h3>
<br><br><br><br>

    

    
        <div class="container">

            <div class="row">

                <div class="col-lg-3 col-md-6 text-bottom">
                    <div class="service-box">
                       <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>


<img src="vs.jpg" ALIGN=bottom alt="Mountain View" style="width:180px;height:100px;">


                        <h3>Visual Studio</h3>
                        <p class="text-muted">Microsoft Visual Studio is an integrated development environment (IDE) from Microsoft. It is used to develop computer programs for Microsoft Windows...<br>
<a href="intro"><input align="bottom" type="button" name="login" style="width:230px; height:30px;" value="Read More" /> </a>
</p>

                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-bottom">

                    <div class="service-box">
                        <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>


<img src="android.jpg" alt="Mountain View" style="width:180px;height:100px;">


                        <h3>Android Studio</h3>
                        <p class="text-muted">Android Studio is an integrated development environment (IDE) for developing for the Android platform. It was announced on May 16, 2013 at...<br>

<a href="intro"><input align="bottom" type="button" name="login" style="width:230px; height:30px;" value="Read More" /> </a></p>
                    </div>
                </div>


                <div class="col-lg-3 col-md-6 text-bottom">
                    <div class="service-box">
                        <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>


<img src="rails.jpg" alt="Mountain View" style="width:180px;height:100px;">


                        <h3>Ruby on Rails</h3>
                        <p class="text-muted">Ruby on Rails, or simply Rails, is a web application framework written in Ruby under MIT License. Rails is a model–view–controller (MVC) framework, providing...<br>
 <a href="intro"><input align="bottom" type="button" name="login" style="width:230px; height:30px;" value="Read More" /> </a>.</p>
                    </div>
                </div>



                <div class="col-lg-3 col-md-6 text-bottom">
                    <div class="service-box">
                        <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>


<img src="PHP.jpg" alt="Mountain View" style="width:180px;height:100px;">

                        <h3>PHP</h3>
                        <p class="text-muted">PHP is a server-side scripting language designed for web development but also used as a general-purpose programming language.....<br>

 <a href="intro"><input align="bottom" type="button" name="login" style="width:230px; height:30px;" value="Read More" /> </a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

